<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button> -->
    <h1 [routerLink]="'/'" id="companyTitle">John Stonemart</h1>
    <span class="menu-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">Get a Quote</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/calculator2'">Monument Quote</button>
        <button mat-menu-item [routerLink]="'/inscriptioncalculator'">Inscription On Site</button>
        <button mat-menu-item [routerLink]="'/calculator2'">Renovation</button>
      </mat-menu>
    <button mat-button [matMenuTriggerFor]="men">Previous Quote</button>
      <mat-menu #men="matMenu">
      <button mat-button [routerLink]="'/quoteslist'"> Monument Quote </button> 
      <button mat-button [routerLink]="'/inscriptionQuoteslist'"> Inscription Quote </button> 
      </mat-menu> 
      <!-- <button mat-button [routerLink]="'/dailyreport'"> Upload Daily Report </button>
      <button mat-button [routerLink]="'/somethingelse'"> Upload Daily something </button> -->
     <!-- <button mat-button [routerLink]="'/create-activity'"> Create Activity </button> -->
      <span class="example-spacer"></span>
      <button mat-button *ngIf="authService.currentUser" (click)="sidenav.toggle()" > Management </button>
      <button *ngIf="!authService.isLoggedIn()" mat-button [routerLink]="'/login'"> Log in </button>
      <button *ngIf="authService.isLoggedIn()" mat-button (click)="logout()"> Logout </button>
      <!-- <button mat-mini-fab layout-align="space-between center" color="warn" [routerLink]="'/create-activity'"> <mat-icon>person</mat-icon> </button>
    -->
  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row>-->
</mat-toolbar> 

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item *ngIf="authService.currentUser" [routerLink]="'/userslist'"> Manage Users </a>
      <a mat-list-item *ngIf="authService.currentUser"[routerLink]="'/monumentslist'"> Monument </a>
      <a mat-list-item *ngIf="authService.currentUser"[routerLink]="'/installationslist'"> Installation </a>
      <a mat-list-item *ngIf="authService.currentUser"[routerLink]="'/castingslist'"> Casting </a>
      <a mat-list-item *ngIf="authService.currentUser"[routerLink]="'/inscriptionslist'"> Inscription </a>
      <a mat-list-item *ngIf="authService.currentUser"[routerLink]="'/accessorieslist'"> Accessories </a>
      <a mat-list-item *ngIf="authService.currentUser"[routerLink]="'/foundationslist'"> Foundation </a>
      <a mat-list-item *ngIf="authService.currentUser"[routerLink]="'/additionalInscriptionslist'"> Installation on Site </a>
      <a mat-list-item *ngIf="authService.currentUser"[routerLink]="'/ipslist'"> IP Management </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>