<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title" *ngIf="editProfile">Edit Profile</h4>
                        <h4 class="card-title" *ngIf="!editProfile">Reset the Password</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form #f="ngForm" (ngSubmit)="save(f.value)">
                            <div class="row" *ngIf="editProfile">
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                      <input #userEmail="ngModel" [(ngModel)]="currentUser.email" name="email" matInput placeholder="Email address" type="email" required email>
                                    </mat-form-field>
                                    
                                    <mat-error *ngIf="userEmail.touched && userEmail.invalid && userEmail.errors.email">
                                        Please enter a valid email address
                                      </mat-error>
                                      <mat-error *ngIf="userEmail.touched && userEmail.invalid && userEmail.errors.required">
                                        Email is <strong>required</strong>
                                    </mat-error>
                                </div>
                
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                      <input #name="ngModel" [(ngModel)]="currentUser.name" name="name" matInput placeholder="Name" required>
                                    </mat-form-field>
                                    <mat-error *ngIf="name.touched && name.invalid && name.errors.required">
                                        Name is <strong>required</strong>
                                    </mat-error>
                                </div>
                      
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>-- Select Role --</mat-label>
                                          <mat-select [(ngModel)]="currentUser.role" name="role" required>
                                            <mat-option>--</mat-option>
                                            <mat-option *ngFor="let role of roles" [value]="role">
                                              {{ role }}
                                            </mat-option>
                                          </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" *ngIf="resetPassword">
                                <div class="col-md-8">
                                  <mat-form-field class="example-full-width">
                                    <input #password="ngModel" matInput ngModel name="password" placeholder="Password" type="password" required>
                                  </mat-form-field>
                                  <mat-error *ngIf="password.touched && password.invalid && password.errors.required">
                                      Password is <strong>required</strong>
                                  </mat-error>
                                </div>
                            </div>
                            <div class="row" *ngIf="resetPassword">
                                <div class="col-md-8">
                                  <mat-form-field class="example-full-width">
                                    <input #comfirmPassword="ngModel" matInput ngModel name="passwordConfirm" placeholder="Comfirm Password" type="password" required>
                                  </mat-form-field>
                                  <mat-error *ngIf="comfirmPassworError">
                                      Passwords do not <strong>match</strong>
                                  </mat-error>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" *ngIf="!id" [disabled]="f.invalid">Create User</button>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" *ngIf="id && editProfile" [disabled]="f.invalid">Update Profile</button>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" *ngIf="id && resetPassword" (click)="changePassword(f.value)" [disabled]="f.invalid">Reset Password</button>
                            <button mat-raised-button type="button" class="btn btn-dark pull-left" *ngIf="id && editProfile" (click)="deleteUser()">Delete User</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                     <div class="card-body">
                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">Alec Thompson</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                    </div> 
                </div>
            </div> -->
        </div>
    </div>
  </div>
  